<h1>Codeial / <%= title %></h1>
<section id="feed-posts">

    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" id="" cols="30" rows="3" placeholder="type here...."></textarea>
        <input type="submit" value="post">
    </form>


    <h2><%= posts.name %></h2>



    <div id="posts-list-container">

        <ul>
            <% for(post of posts){ %>

                <li>
                    <%= locals.user %>
                    <br>

                    <p>
                        <% if(locals.user && locals.user.id == post.user.id) { %>

                    <small>
                        <a href="/posts/destroy/<%= post.id %>"> Delete </a>
                    </small>
                    <% } %>
                    <br>
                    <h4><%- post.user %></h4>
                    <small>
                       <%= post %> 
                    </small>

                   </p>

                    <div class="post-comments">
                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Type here to add comment..." required>
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add comment">
                            </form>

                           
                    </div>
                </li>

                <% } %>
        </ul>


        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of allusers) { %>
                <p>
                    <a href="/users/profile/<%u.id %>"><%= u.name %></a>
                </p>
                <% } %>
        </section>

    </div>
</section>


<!-- //
//
//

<h1>
    Codeial / <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                
            <li>
                <p>
                    <% if (locals.user && locals.user.id == post.user.id){ %>
                    <small>
                        <a href="/posts/destroy/<%= post.id %>">X</a>
                    </small>
                    <% } %>
                    <%= post.content %>
                    <br>
                    <small>
                        <%= post.user %>
                    </small>
                </p>
                <div class="post-comments">
                    <% if (locals.user){ %>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Type Here to add comment..." required>
                            <input type="hidden" name="post" value="<%= post._id %>" >
                            <input type="submit" value="Add Comment">
                        </form>

                    <% } %>

                    <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">
                                
                            <p>
                                <%= comment.content %>
                                <br>
                                <small>
                                    <%= comment.user.name %>
                                </small>
                            </p>    
                            <%} %>
                        </ul>
                    </div>
                </div>
                
            </li>
                
            <%} %>
        </ul>
    </div>
</section> -->